# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Release

on:
  release:
    types: [created]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libmagic-dev

      - name: GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release-binary-msi:
    name: Release MSI file
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y wixl

      - name: Build Windows GUI binary
        run: GOOS=windows GOARCH=amd64 go build -o gmhostgui.exe -ldflags "-s -w -H windowsgui" ./main.go

      - name: Build Windows CLI binary
        run: GOOS=windows GOARCH=amd64 go build -o gmhost.exe -ldflags "-s -w" ./main.go

      - name: Create MSI package
        run: |
          wixl -a x64 -o gmhostgui-${{ github.ref_name }}-amd64-windows.msi setup.wxs

      - name: Upload MSI to release
        uses: softprops/action-gh-release@v2
        with:
          files: gmhostgui-${{ github.ref_name }}-amd64-windows.msi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
